@import "tailwindcss";

@font-face {
  font-family: "ZxSpectrum";
  src: url("/fonts/zxspectrum.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-bg-primary: #ffffff;
  --color-bg-dark: #171717;
  --color-text-primary: #171717;
  --color-text-bright: #ffffff;
  --color-accent-primary: #e6ff00;
  --color-grid-lines: #e6ff0020;
  --shadow-window: 4px 4px 1px rgb(0 0 0 / 0.35);
}

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  body {
    font-family: "ZxSpectrum", monospace;
    font-weight: 400;
    font-size: 1.125rem;

    background-color: var(--color-bg-primary);
    background-image:
      radial-gradient(
        ellipse farthest-side,
        var(--color-text-primary) 30%,
        transparent 35%
      ),
      radial-gradient(
        ellipse farthest-side,
        var(--color-text-primary) 30%,
        transparent 35%
      );
    background-size: 3px 9px;
    background-position:
      0 0,
      1.5px 4.5px;
    color: var(--color-text-primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "ZxSpectrum", monospace;
    font-weight: 700;
  }
}
