@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;700&display=swap");
@import "tailwindcss";

/* 1. Define your tokens here! Tailwind handles the rest. */
@theme {
  --color-bg-primary: #FFFFFF;
  --color-bg-dark: #171717;
  --color-text-primary: #171717;
  --color-text-placeholder:#d4d4d4;
  --color-text-bright: #FFFFFF;
  --color-accent-primary: #E6FF00;
  --color-grid-lines: #E6FF0020;
}

@layer base {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  body {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-size: 1rem;
    
    /* You can still use the variables natively in CSS */
    background-color: var(--color-bg-primary);
    background-image: 
      radial-gradient(ellipse farthest-side, var(--color-text-primary) 30%, transparent 35%),
      radial-gradient(ellipse farthest-side, var(--color-text-primary) 30%, transparent 35%);
    background-size: 3px 9px;
    background-position: 0 0, 1.5px 4.5px;
    color: var(--color-text-primary);
  }

  @media (min-width: 768px) {
    body {
      font-size: 1.125rem;
    }
    
    /* You can still use the variables natively in CSS */
    background-color: var(--color-bg-primary);
    background-image: 
      radial-gradient(ellipse farthest-side, var(--color-text-primary) 30%, transparent 35%),
      radial-gradient(ellipse farthest-side, var(--color-text-primary) 30%, transparent 35%);
    background-size: 3px 9px;
    background-position: 0 0, 1.5px 4.5px;
    color: var(--color-text-primary);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "DM Mono", monospace;
    font-weight: 700;
  }
}